
.logo-acerta {
  height: 3rem;
  pointer-events: none;
  margin-bottom: 2rem;
}
.no-background{
  background-color: #224D74!important;
  
}
.no-background th{
  color: white!important;
  font-weight: normal;
  border-color: transparent;
}
.clickable{
  cursor: pointer;
  color: #020202!important;
}
.clickable:hover{
  color: #3b86cc!important;
}
.round{
  border-radius: 1rem;
  padding: 2em;
}
h2{
  color: white!important;
}

.is-acerta-orange{
 background-color: #F79028!important;
 transition: 0.25s;
}
.is-acerta-orange:hover{
  background-color: #ffa64d!important;
 }
.is-acerta-orange:active{
  background-color: #fc8815!important;
 }

.is-acerta-grey{
 background-color: #989898!important;
 transition: 0.25s;
}
.is-acerta-grey:hover{
  background-color: #808080!important;
 }
.is-acerta-grey:active{
  background-color: #a1a1a1!important;
 }

.button{
  border-width: 0!important;
  font-weight: 700;
}



@media
only screen and (max-width: 1023px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  tbody tr{
    border: 2px solid #224D74;
  }
  tbody tr th .icon{
    font-size: 2em;
    margin: 5px 15px;
    text-align: center;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  
  
}

@keyframes App-logo-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
